extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 David McGarvey

        p.lead.text-light
          | Full Stack JavaScript and Python Developer.

        .portfolio-bio
          p
            | I want to join your development team to help create and maintain accessible websites.
            | Family circumstance took me from Denver, where I was the GM of a rock and roll club, to the Pacific Northwest where I've been a learning to code. 
            | For the past year I've been building my skills in JavaScript, HTML, CSS, and Python while enrolled in the Treehouse Techdegree Program. 
            | I am an eager learner and love to solve problems. My aim is set on becoming an expert in all things cyber security. 
            | I want to help protect our representations online as it becomes more intertwined with how we communicate and interact. 
            | I'm sure that my addition to your team will yield great results.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavScript
          li Python
          li HTML
          li CSS
          li DOM Traversal
          li Object Oriented Programing
          li jQuery
          li Terminal/CLI
          li AJAX
          li Express
          li Flask
          li Django
          li SQL
          li Peer Code Reviews
          li Soft Skills
          li Team Managment
          li Active Learner
          li Listing my skills
        
        h6 Contact Info

        ul
          li 
            a(href='tel:719-651-3747') (719) 651-3746
          li
            a(href='mailto:davidjmcgarvey@gmail.com') davidjmcgarvey@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/david-mcgarvey-11322691/') LinkedIn
        a.button.expanded(href='https://github.com/DavidJMcGarvey') GitHub
        a.button.expanded(href='https://twitter.com/DavesOfOurLivs') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  